<a href="https://colab.research.google.com/github/youngchae64/DataAnalysis/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
year = int(input("당신이 태어난 년도를 입력해 주세요: "))

age = 2023 - year

if 20<= age and age <= 26:
  print("대학생")
elif 17 <= age and age < 20:
  print("고등학생")
else:
  print("학생이 아닙니다.")

당신이 태어난 년도를 입력해 주세요: 1998
대학생

In [22]:
for looper in [1,2,3,4,5]:
  print(f"{looper} : Hello")

1 : Hello
2 : Hello
3 : Hello
4 : Hello
5 : Hello

In [7]:
for looper in range(0,5):
  print("Hello")

Hello
Hello
Hello
Hello
Hello

In [8]:
list(range(5))

[0, 1, 2, 3, 4]

In [9]:
for looper in range(0,5):
  print(f"{looper} : Hello")

0 : Hello
1 : Hello
2 : Hello
3 : Hello
4 : Hello

In [12]:
for i in "abcdefg":
  print(i)

a
b
c
d
e
f
g

In [13]:
for i in range(1, 10, 2):
  print(i)

1
3
5
7
9

In [14]:
for i in range(10,1,-1):
  print(i)

10
9
8
7
6
5
4
3
2

In [15]:
i = 0
while i < 10:
  print(f"{i}: Hello")
  i += 1

0: Hello
1: Hello
2: Hello
3: Hello
4: Hello
5: Hello
6: Hello
7: Hello
8: Hello
9: Hello

In [16]:
for i in range(10):
  if i == 5: break
  print(i)
print("EOP")

0
1
2
3
4
EOP

In [20]:
print("구구단 몇단을 계산할까요?")

dan = int(input())

print(f"구구단 {dan}을 계산합니다")

for i in range(1,10):
  print(f"{dan} X {i} = {dan*i}")

구구단 몇단을 계산할까요?
5
구구단 5을 계산합니다
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

In [34]:
def spam(eggs):
  eggs.append(1)
  eggs.append(5)
  eggs = [2,3]

ham = [0]
spam(ham)
print(ham)

[0, 1, 5]

In [3]:
def test(t):
  print(x)
  t = 20
  print("In Function:", t)

x = 10
test(x)

10
In Function: 20

In [4]:
def test(t):
  t = 20
  print("In Function:", t)

x = 10
print("Before: ", x)
test(x)
print("After:", x)

Before:  10
In Function: 20
After: 10